.container-sm {
    max-width: 800px;
    margin-top: 10%;
}

.icon {
    width: 100px;
    margin-right: 10px;
}

.accordion-button {
    background-color: black;
    color:white;
    font-family: 'Orbitron', sans-serif;
    border:none;
}

.accordion-button:focus {
    background-color: rgb(45, 45, 45);
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(45, 45, 45);
    color: white;
}

.accordion-button::after {
    margin-left:5%;
}

.accordion-body {
    background-color: rgb(33, 33, 33);
    color: rgb(227, 227, 227);
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: rgb(33, 33, 33);
}

.accordion-item {
    border: none;
}

.date {
    margin-left: auto;
    font-size: 1.2em;
}

.navbar-brand {
    margin: auto;
}